@mixin telefono {
    @media (min-width: $telefono){
        @content;  /// esta propiedad permite agregar propiedas en el archivo donde se llama al mixin
    }
}

@mixin tablet {
    @media (min-width: $tablet){
        @content; 
    }
}

@mixin desktop {
    @media (min-width: $desktop){
        @content; 
    }
}

@mixin grid ($columnas, $espaciado){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}